/* Estilos gerais */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out;
}

body {
  font-family: "Chakra Petch", sans-serif;
  background: linear-gradient(
    to bottom right,
    #000,
    rgb(27, 27, 67),
    rgb(26, 26, 120),
    #00e6ee
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

section {
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(3, 234, 255, 0.3);
}

.code-wrapper {
  border: 2px solid;
  border-radius: 8px;
  padding: 10px;
  background-color: #1e1e1e;
}

.code-container {
  background-color: transparent;
  color: #d34b4b;

  font-family: monospace;
  overflow-x: auto;
  position: center;

  box-sizing: border-box;
  text-align-last: left;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #f8c555;
}

.language-name {
  font-weight: bold;
}

.copy-button {
  background-color: #39a1cf;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.copy-button:hover {
  background-color: transparent;
}

.code-block {
  padding: 0px;
  border-radius: 0px;
  border: 0px;

  background-color: #303030;

  width: 400px;
  height: 200px;

  margin: 0 auto;
  position: relative;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.container {
  width: 60rem;
  height: 60rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
  position: relative;
  margin: 6rem auto;
  box-shadow: 0 4px 8px rgba(3, 234, 255, 0.3);
}
#projeto {
  text-align: left;
}
#projeto2 {
  text-align: left;
}

#espaço {
  text-indent: 1.5rem;
  text-align: left;
}

#notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#notification.show {
  opacity: 1;
}
.sidebar {
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: transparent;
  padding: 5px;
}

.home-button {
  display: block;
  margin-bottom: 5px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 1.5rem;
}
.home-button:hover {
  box-shadow: 0 4px 8px rgba(3, 234, 255, 0.3);
}
